.tables-div{
    display: grid;
    grid-template: auto auto/repeat(5, minmax(250px, 1fr));
    /* gap: 20px; */
}

.table-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 0 0;
    width: 250px;
    min-height: 150px;
}

.status-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 4px 0;
}

