apiVersion: v1
kind: Service
metadata:
  name: blue-service
  namespace: webapps
spec:
  type: ClusterIP
  selector:
    version: blue
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
      name: frontend-port
    - protocol: TCP
      port: 8001
      targetPort: 8001
      name: backend-port

